body{
    background-color: #05c46b;
    font-family: verdana;
    text-align: center;

}
form{
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0.0,0,0.5);
}

form-control{
   text-align: left;
   margin-bottom: 25px;

}
form-control label{
    display:block;
    margin-bottom: 10px;
}